body {
  background: black;
}

.swatch {
  display: block;
  text-align: center;
  position: relative;
  margin: 100px;
}

.swatch div {
  width: 70px;
  height: 225px;
  position: absolute;
  top: 0px;
  border-radius: 5px;
  border-top: solid 2px rgba(0, 0, 0, 0.2);
  border-left: solid 3px rgba(255, 255, 255, 0.2);
  border-bottom: solid 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
  transform-origin: center 90%;
  display: inline-block;
  backface-visibility: hidden;
  margin-left: -35px;
  transform: rotate(0deg);
}

/* Style and position the pin */
.swatch .pin {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
  transform-origin: center center;
  animation: pin-drop 8s cubic-bezier(0.17, 0.67, 0.2, 1) infinite;
}

/* Color assignments */
.swatch div:nth-child(2) {
  background-color: #9400d3;
  animation: swatch-violet-motion 8s cubic-bezier(0.17, 0.67, 0.2, 1) infinite;
}

.swatch div:nth-child(3) {
  background-color: #4b0082;
  animation: swatch-indigo-motion 8s cubic-bezier(0.2, 0.62, 0.2, 1) infinite;
}

.swatch div:nth-child(4) {
  background-color: blue;
  animation: swatch-blue-motion 8s cubic-bezier(0.25, 0.57, 0.2, 1) infinite;
}

.swatch div:nth-child(5) {
  background-color: green;
  animation: swatch-green-motion 8s cubic-bezier(0.3, 0.52, 0.2, 1) infinite;
}

.swatch div:nth-child(6) {
  background-color: yellow;
  animation: swatch-yellow-motion 8s cubic-bezier(0.35, 0.47, 0.2, 1) infinite;
}

.swatch div:nth-child(7) {
  background-color: orange;
  animation: swatch-orange-motion 8s cubic-bezier(0.4, 0.45, 0.2, 1) infinite;
}

.swatch div:nth-child(8) {
  background-color: red;
  animation: swatch-red-motion 8s cubic-bezier(0.17, 0.67, 0.2, 1) infinite;
}

/* Swatch animations */
@keyframes swatch-violet-motion {
  0%,
  10% {
    transform: rotate(0deg) translateX(0);
  }
  30%,
  40% {
    transform: rotate(-75deg) translateX(0);
  }
  60%,
  90% {
    transform: rotate(4deg) translateX(-232px);
  }
}

@keyframes swatch-indigo-motion {
  0%,
  10% {
    transform: rotate(0deg) translateX(0);
  }
  30%,
  40% {
    transform: rotate(-50deg) translateX(0);
  }
  60%,
  90% {
    transform: rotate(2deg) translateX(-154px);
  }
}

@keyframes swatch-blue-motion {
  0%,
  10% {
    transform: rotate(0deg) translateX(0);
  }
  30%,
  40% {
    transform: rotate(-25deg) translateX(0);
  }
  60%,
  90% {
    transform: rotate(-3deg) translateX(-74px);
  }
}

@keyframes swatch-green-motion {
  0%,
  10% {
    transform: rotate(0deg) translateX(0);
  }
  30%,
  40% {
    transform: rotate(0deg) translateX(0);
  }
  60%,
  90% {
    transform: rotate(2deg) translateX(0);
  }
}

@keyframes swatch-yellow-motion {
  0%,
  10% {
    transform: rotate(0deg) translateX(0);
  }
  30%,
  40% {
    transform: rotate(25deg) translateX(0);
  }
  60%,
  90% {
    transform: rotate(-2deg) translateX(78px);
  }
}

@keyframes swatch-orange-motion {
  0%,
  10% {
    transform: rotate(0deg) translateX(0);
  }
  30%,
  40% {
    transform: rotate(50deg) translateX(0);
  }
  60%,
  90% {
    transform: rotate(3deg) translateX(151px);
  }
}

@keyframes swatch-red-motion {
  0%,
  10% {
    transform: rotate(0deg) translateX(0);
  }
  30%,
  40% {
    transform: rotate(75deg) translateX(0);
  }
  60%,
  90% {
    transform: rotate(-1deg) translateX(232px);
  }
}

@keyframes pin-drop {
  0%,
  38% {
    transform: translate(0, 0) rotateX(0deg);
    opacity: 1;
    z-index: 10;
  }
  /* Initial pop out */
  39% {
    transform: translate(-2px, 52px) rotateX(0deg);
    opacity: 1;
    z-index: 10;
  }
  /* Bounce */
  40% {
    transform: translate(0, 44px) rotateX(-5deg);
    opacity: 1;
    z-index: 10;
    background-color: #ddd;
  }
  /* Continue falling */
  42% {
    transform: translate(0, 52px) rotateX(-10deg);
    opacity: 1;
    z-index: 1;
    background-color: #bbb;
  }
  /* Continue falling with more rotation */
  44% {
    transform: translate(0, 58px) rotateX(-15deg);
    opacity: 1;
    z-index: 1;
    background-color: #999;
  }
  /* Rolling effect */
  46% {
    transform: translate(0, 66px) rotateX(-20deg);
    opacity: 0.95;
    z-index: 1;
    background-color: #888;
  }
  48% {
    transform: translate(0, 66px) rotateX(-25deg);
    opacity: 0.95;
    z-index: 1;
    background-color: #666;
  }
  50% {
    transform: translate(0, 66px) rotateX(-30deg);
    opacity: 0.95;
    z-index: 1;
    background-color: #555;
  }
  52% {
    transform: translate(0, 66px) rotateX(-35deg);
    opacity: 0.9;
    z-index: 1;
    background-color: #444;
  }
  /* Complete fade out */
  55% {
    transform: translate(0, 66px) rotateX(-60deg);
    opacity: 0.6;
    z-index: 1;
    background-color: #333;
  }
  /* Hidden state */
  56%,
  97% {
    transform: translate(0, 60px) rotateX(-90deg);
    opacity: 0;
    z-index: 1;
  }
  /* Begin reappearing from behind */
  98% {
    transform: translate(0, 0) rotateX(0deg);
    opacity: 0.3;
    z-index: 1;
  }
  /* Push through effect */
  99% {
    transform: translate(0, 0) rotateX(0deg);
    opacity: 0.6;
    z-index: 10;
  }
  /* Fully visible */
  100% {
    transform: translate(0, 0) rotateX(0deg);
    opacity: 1;
    z-index: 10;
  }
}
